py_Vorlesung/sw05 Textanalyse/text.txt
py_Vorlesung/tanne.png
py_Vorlesung/sw08_Daten und Zeiten/tanne.png
py_Vorlesung/sw08_Daten und Zeiten/tanne2.png
py_Vorlesung/sw08_Daten und Zeiten/Adventskranz6_Automatik_tannengruen_lucid.py
py_Vorlesung/sw08_Daten und Zeiten/Adventskranz5_Automatik_tannengruen.py
